<style>
  .thVertical {
    writing-mode: vertical-lr;
    min-width: 50px;
    text-align:center;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  p {
    margin: 0px;
  }
  .answerLine {
    background-color: yellow;
  }
  .questionLine {
    background-color: gray;
  }
  .resultLine {
    background-color: lightgray;
  }
  .sumLine {
    background-color: lightgreen;
  }
  .okTd {
   color: green;
   text-align: center; 
   vertical-align: middle;   
  }
  .badTd {
   color: red;
   text-align: center; 
   vertical-align: middle;   
  }
  .center {
   text-align: center; 
   vertical-align: middle;   
  }
</style>
